**/target/*
*.iml
# Created by https://www.gitignore.io/api/maven,intellij,intellij+iml

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
projetmaven/.idea/**/workspace.xml
projetmaven/.idea/**/tasks.xml
projetmaven/.idea/dictionaries

# Sensitive or high-churn files:
projetmaven/.idea/**/dataSources/
projetmaven/.idea/**/dataSources.ids
projetmaven/.idea/**/dataSources.xml
projetmaven/.idea/**/dataSources.local.xml
projetmaven/.idea/**/sqlDataSources.xml
projetmaven/.idea/**/dynamic.xml
projetmaven/.idea/**/uiDesigner.xml

# Gradle:
projetmaven/.idea/**/gradle.xml
projetmaven/.idea/**/libraries

# CMake
projetmaven/cmake-build-debug/

# Mongo Explorer plugin:
projetmaven/.idea/**/mongoSettings.xml

## File-based project format:
projetmaven/*.iws

## Plugin-specific files:

# IntelliJ
projetmaven/out/

# mpeltonen/sbt-idea plugin
projetmaven/.idea_modules/

# JIRA plugin
projetmaven/atlassian-ide-plugin.xml

# Cursive Clojure plugin
projetmaven/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
projetmaven/com_crashlytics_export_strings.xml
projetmaven/crashlytics.properties
projetmaven/crashlytics-build.properties
projetmaven/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# projetmaven/.idea/misc.xml
# *.ipr

# Sonarlint plugin
projetmaven/.idea/sonarlint

### Intellij+iml ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:

# Sensitive or high-churn files:

# Gradle:

# CMake

# Mongo Explorer plugin:

## File-based project format:

## Plugin-specific files:

# IntelliJ

# mpeltonen/sbt-idea plugin

# JIRA plugin

# Cursive Clojure plugin

# Crashlytics plugin (for Android Studio and IntelliJ)

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

projetmaven/*.iml
projetmaven/modules.xml
projetmaven/.idea/misc.xml
projetmaven/*.ipr

### Maven ###
projetmaven/target/
projetmaven/pom.xml.tag
projetmaven/pom.xml.releaseBackup
projetmaven/pom.xml.versionsBackup
projetmaven/pom.xml.next
projetmaven/release.properties
projetmaven/dependency-reduced-pom.xml
projetmaven/buildNumber.properties
projetmaven/.mvn/timing.properties



projetmaven/.classpath
projetmaven/.project
projetmaven/.settings
projetmaven/.idea/uiDesigner.xml
projetmaven/.idea/libraries/*
projetmaven/.idea/workspace.xml
projetmaven/.idea/*

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!projetmaven/.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/maven,intellij,intellij+iml
0

projetmaven/cdb.log