
# Created by https://www.gitignore.io/api/maven,intellij,intellij+iml

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
projectmaven/.idea/**/workspace.xml
projectmaven/.idea/**/tasks.xml
projectmaven/.idea/dictionaries

# Sensitive or high-churn files:
projectmaven/.idea/**/dataSources/
projectmaven/.idea/**/dataSources.ids
projectmaven/.idea/**/dataSources.xml
projectmaven/.idea/**/dataSources.local.xml
projectmaven/.idea/**/sqlDataSources.xml
projectmaven/.idea/**/dynamic.xml
projectmaven/.idea/**/uiDesigner.xml

# Gradle:
projectmaven/.idea/**/gradle.xml
projectmaven/.idea/**/libraries

# CMake
projectmaven/cmake-build-debug/

# Mongo Explorer plugin:
projectmaven/.idea/**/mongoSettings.xml

## File-based project format:
projectmaven/*.iws

## Plugin-specific files:

# IntelliJ
projectmaven/out/

# mpeltonen/sbt-idea plugin
projectmaven/.idea_modules/

# JIRA plugin
projectmaven/atlassian-ide-plugin.xml

# Cursive Clojure plugin
projectmaven/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
projectmaven/com_crashlytics_export_strings.xml
projectmaven/crashlytics.properties
projectmaven/crashlytics-build.properties
projectmaven/fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# projectmaven/.idea/misc.xml
# *.ipr

# Sonarlint plugin
projectmaven/.idea/sonarlint

### Intellij+iml ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:

# Sensitive or high-churn files:

# Gradle:

# CMake

# Mongo Explorer plugin:

## File-based project format:

## Plugin-specific files:

# IntelliJ

# mpeltonen/sbt-idea plugin

# JIRA plugin

# Cursive Clojure plugin

# Crashlytics plugin (for Android Studio and IntelliJ)

### Intellij+iml Patch ###
# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

projectmaven/*.iml
projectmaven/modules.xml
projectmaven/.idea/misc.xml
projectmaven/*.ipr

### Maven ###
projectmaven/target/
projectmaven/pom.xml.tag
projectmaven/pom.xml.releaseBackup
projectmaven/pom.xml.versionsBackup
projectmaven/pom.xml.next
projectmaven/release.properties
projectmaven/dependency-reduced-pom.xml
projectmaven/buildNumber.properties
projectmaven/.mvn/timing.properties



projectmaven/.classpath
projectmaven/.project
projectmaven/.settings
projectmaven/.idea/uiDesigner.xml
projectmaven/.idea/libraries/*

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!projectmaven/.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/maven,intellij,intellij+iml
0
