<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>cdb-${bySecond}.log</File>
        <totalSizeCap>800MB</totalSizeCap>
        <immediateFlush>false</immediateFlush>

        <file>cdb.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>cdb.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{0} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cdb" level="TRACE"/>

    <root level="TRACE">
        <appender-ref ref="FILE"/>
    </root>

</configuration>